<h1>Welcome to Rails #1408</h1>


<p>Time now is: <%= Time.now %></p>
<% Time.now %>


<p><%= @school %></p>



<%# ABOUT FORMS %>
<%# Name of the parameters that arrive in the controller
    comes from the name of a form's inputs %>
<%# The form can make the request for another route
    because it will work the same way :ok %>

<form action="/" method="get">
  <input type="text" name="house" id="house" value="<%= params[:house] %>">
  <input type="submit" value="Filter">
</form>

<p>This is the <strong>params</strong>: <%= params %></p>

<ul>
  <% @houses.each do |house| %>
    <li><%= house %></li>
  <% end %>
</ul>

<%# LINK %>

<%# WE DONT USE A TAG %>
<a href="/contact">Contacts</a>
                          <%# prefix_path %>
<%= link_to 'Talk to us', contact_path %>
<%= link_to 'Know us', about_path %>
